*{
    margin: 0px;
    padding: 0px;
}
#signup-heading, .signup-div{
    text-align: center;
    padding: 1vh;
}
.inner-emp-form{
    display: block;
    margin: auto;
    width: 600px;
    border: solid 1px black;
    border-radius: 5px;
}

.emp-form{
    margin-top: 10px;
}
.signup-btn{
    background-color: #003580;
    color: white;
    padding: 3px;
    border-radius: 8px;
    font-size: large;
}
.signup-header{
    font-size: x-large;
    background-color: #003580;
    color: white;
    padding: 6px;
}
.inner-emp-form >form > input{
    width: 75%;
    height: 21px;
    border-radius: 12px;
}
.inner-emp-form >form{
    font-size: large;
}
.generateQuery{
    display: block;
    margin: auto;
    width: 512px;
    background-color: #b7c2c3;
    border: solid 1px #302e2e;
}

.upprQuery{
    margin-top: 15px;
}

.generateQuery > input{
    width: 97%;
    margin: 4px;
}

#queryBtn{
    display: block;
    margin: auto;
    font: icon;
    color: white;
    background-color: #1577dd;
}
.generateQuery > h3{
    font-family: inherit;
    margin: 5px;
}

